{% extends 'base.html.twig' %}

{% block title %}Agence Gligo{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Gligoo</h1>
        <p>Bienvenue sur mon site d'agence Immobilière</p>
    </div>
{% endblock %}