{% extends 'base.html.twig' %}



{% block body %}
    <div class="container">
        <h2>Editer le bien</h2>
        {{ include ('Admin/Property/_form.html.twig', {form: form, button: 'Editer'}) }}
    
{% endblock %}